body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamsPlaying {
  display: flex;
}

.homeTeam,
.awayTeam {
  margin: 1em;
}

.teamScores {
  display: flex;
}

.homeScore,
.awayScore {
  margin: 2.5em;
}
